*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: #222;
    color: aliceblue;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    padding: 8px 15px;
    border: none;

    cursor: pointer;
    background: #108d31;
    color: #222;
    border-radius: 4px;
}
button:hover{
    opacity: 0.8;
}

main{
    padding: 20px;
}

table{
    width: 100%;
    background: #108d31;
    border-collapse: collapse;
}
th,td{
    padding: 10px;
    border: 1px solid #108d31;
    text-align: center;
}
th{
    background: #0c4b1b;
    color: #ffffff;
}
.modal{
    display: none;
    position: fixed;
    background: rgba(12, 100, 28, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-content{
   background: #ffffff;
    width: 300px;
    padding: 20px;
    margin: 100px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modal-buttons{
    display: flex;
    justify-content: space-between;
}