*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:black;
    color: aliceblue;
    overflow-x: hidden;
}
.app-container{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    width: 240px;
    padding: 24px;
    background-color: rgb(25, 26, 30);
    position: fixed;
    height: 100%;
}

.logo{
    color: rgb(33, 48, 163);
    margin-bottom: 30px;
    
}

.search-input{
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    background-color: rgb(19, 19, 3);
    color: aliceblue;
    outline: none;
}

.main-content{
    flex: 1;
    margin-left: 240px;
    padding: 30px;
    background: linear-gradient(to buttom, #1e1e1e, #353535);
    padding-bottom: 120px;
}
.music-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px, 1fr));
    gap:20px;
    margin-top: 20px;
}

.card-music{
    background-color: #353535;
    padding: 16px;
    border-radius: 8px;
    transition: backgroud 0.3s ease;
    cursor: pointer;
}

.card-music:hover{
    background-color: #2a2929;
}

.card-music img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 12px;
}

.card-music h3{
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-music p{
    color:azure;
    font-size: 0,85rem;
    margin-top: 5px;
}

.player-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #1e1e1e;
    border-top: 1px solid #302a68;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.now-playing{
    width: 30%;
}

.audio-controls{
    width: 40%;
    display: flex;
    justify-content: center;
}

audio{
    width: 100%;
    filter: invert(90%) hue-rotate(180deg) brightness(1.9);
}

@media(max-width: 700px){
    
    .sidebar{
        display: none;
    }
    .main-content{
        margin-left: 0;
    }
}

 
